body{
	/*background-color: green;*/
}

#button{
	
}

#loadscreen{
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#input{
	position: absolute;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#information{
}

#infograph{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#infocloud{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*height: 500px;*/
}

.item_size{
	display: flex;
	/*flex-grow: 1;*/
	flex-direction: column;
	width: 30%;
}

#word_cloud{
	width: 80%;
	height: 400px;
}

#text-detail{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

#file-name{
	display: flex;
	font-size: 50px;
	font-weight: bold;
	align-items: center;
	margin-left: 20px;
}

#file-info{
	width: 500px;
	margin-right: 20px;
	margin-top: 20px;
}

#file-info-detail{
	display:flex;
	flex-direction: row;
	justify-content: stretch;
}

.file-basic{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

#file-lines{
	display: flex;
	width: 250px;
}

#file-words{
	display: flex;
	width: 250px;
}

.sentence-box{
	height: 200px;
	margin-bottom: 20px;
	overflow: scroll;
}

#firstNresult{
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	padding-left: 20px;
}

#firstNwrapper{
	width: 50%;
}

#lastNwrapper{
	width: 50%;
}

.sentence-input-box{
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
	margin-right: 20px;
}

.sentence-box{
	margin-left: 20px;
	margin-right: 20px;
}

.header{
	font-size: 20px;
	font-weight: bold;
}

#white_header{
	color: white;
}